* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #444;
    transition: .4s;
    text-decoration: none;
}

a:hover {
    color: #37a1f5;
}

/* Navbar */

#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

#navbar h2 {
    cursor: pointer;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

/* Container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
}

#posts-container {
    flex: 3 1 0;
}

.post {
    margin-bottom: 2.5rem;
}

.post img {
    width: 100%;
    margin-bottom: 1rem;
}

.title,
.description,
.author {
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
}

.author {
    color: #333;
    font-weight: bold;
}

/* Sidebar */

#sidebar {
    flex: 1 1 0;
}

#search-bar,
#categories,
#tags {
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
}

#search-bar h4,
#categories h4,
#tags h4 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form {
    display: flex;
    gap: .2rem;
}

#search-bar input {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: .2rem;
}

#search-bar input[type="submit"] {
    cursor: pointer;
    background-color: #37a1f5;
    color: #fff;
    border: none;
}

#categories li {
    margin-bottom: 1rem;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

#tags-container a {
    background-color: #ddd;
    padding: .5rem .7rem;
    border-radius: .3rem;
}

.read-more {
    font-size: 1.1rem;
    color: #2c83ca;
    font-weight: 500;
    text-decoration: underline;
}

/* Footer  */

#footer {
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
}

#footer h2,
#footer p {
    margin-bottom: 1rem;
}

/* Responsivo */

@media (max-width: 450px) {
    .container {
        flex-wrap: wrap;
    }
}